<!-- panel.component.html -->
<div class="panel-container">
  <form [formGroup]="panelForm" class="form-inline">

    <!-- Input para número de páginas -->
    <div class="form-group d-flex justify-content-end align-items-center mb-3">
      <button type="button" class="btn btn-info me-2 info-button" data-bs-toggle="modal" data-bs-target="#helpPagesModal">
        <i class="bi bi-info-circle"></i>
      </button>
      <label class="me-2"><strong>Nombre de pàgines:</strong></label>
      <button type="button" class="btn btn-light me-2 round-button" (click)="decrement('pagines')">-</button>
      <input type="number" class="form-control text-center me-2" id="pagines" formControlName="pagines" readonly>
      <button type="button" class="btn btn-light round-button" (click)="increment('pagines')">+</button>
    </div>

    <!-- Input para número de lenguajes -->
    <div class="form-group d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-info me-2 info-button" data-bs-toggle="modal" data-bs-target="#helpLanguagesModal">
        <i class="bi bi-info-circle"></i>
      </button>
      <label class="me-2"><strong>Nombre de llenguatges:</strong></label>
      <button type="button" class="btn btn-light me-2 round-button" (click)="decrement('llenguatges')">-</button>
      <input type="number" class="form-control text-center me-2" id="llenguatges" formControlName="llenguatges" readonly>
      <button type="button" class="btn btn-light round-button" (click)="increment('llenguatges')">+</button>
    </div>
  </form>
</div>

<!-- Modales de ayuda -->
<div class="modal fade" tabindex="-1" id="helpPagesModal" aria-labelledby="helpPagesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body">
        <strong class="modal-title" id="helpPagesModalLabel">Nombre de pàgines</strong>
        <p>Afegeix el nombre de pàgines que tindrà el teu projecte. El cost de cada pàgina és de 30€.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpLanguagesModal" tabindex="-1" aria-labelledby="helpLanguagesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body">
        <strong class="modal-title" id="helpLanguagesModalLabel">Nombre de llenguatges</strong>
        <p>Afegeix els llenguatges que tindrà el teu projecte. El cost de cada llenguatge és de 30€.</p>
      </div>
    </div>
  </div>
</div>
