<!-- panel.component.html -->
<div *ngIf="showPanel" class="panel-container">
  <form [formGroup]="panelForm" class="form-inline">
    <div class="form-group">
      <label>Nombre de pàgines</label>
      <button type="button" class="btn btn-light" (click)="decrement('pagines')">-</button>
      <input type="number" class="form-control" id="pagines" formControlName="pagines">
      <button type="button" class="btn btn-light" (click)="increment('pagines')">+</button>
    </div>
    
    <br>

    <div class="form-group">
      <label>Nombre de llenguatges</label>
      <button type="button" class="btn btn-light" (click)="decrement('llenguatges')">-</button>
      <input type="number" class="form-control" id="llenguatges" formControlName="llenguatges">
      <button type="button" class="btn btn-light" (click)="increment('llenguatges')">+</button>
    </div>
  </form>
</div>



<!-- 
 <button onclick="decrementQuantity(${item.id})" class="btn btn-secondary btn-sm">-</button>
                    <span class="quantity btn btn-sm">${item.quantity}</span>
-->