$card-border-radius: 10px;
$card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$max-width-container: 800px;
$primary-color: #28a745;

.container {
  max-width: $max-width-container;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card-body {
  padding: 1.5rem;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-success {
  background-color: $primary-color;
}

.btn-primary {
  background-color: white;
  border-radius: white; 
  color: black;
}



.email{
  color: gray;
}

.phone{
  color: gray;
}


