/*budgets-list.component.scss*/
$card-border-radius: 10px;
$card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$form-check-input-size: 1.5em;
$max-width-container: 800px;

.container {
  max-width: $max-width-container;
}

.card {
  border: none;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
}

.form-check-input {
  width: $form-check-input-size;
  height: $form-check-input-size;
}

.form-check-input:checked {
  background-color: green;
  border-color: green;
}

.text-right {
  text-align: right;
}

.border-success {
  border: 2px solid green !important;
}
