<!--Budget-list.component.html-->
<div class="container mt-5">
  <div class="container mt-5">
    <div class="card mb-3 border">
      <div class="card-body">
        <h5 class="card-title">Demanar presupuesto</h5>
        <form [formGroup]="budgetForm" (ngSubmit)="addBudget()">
          <div class="form-row align-items-center">
            <div class="form-group col-md-3">
              <input id="name" formControlName="name" type="text" class="form-control" placeholder="Nombre"/>
            </div>
            <div class="form-group col-md-3">
              <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="Teléfono"/>
            </div>
            <div class="form-group col-md-3">
              <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email"/>
            </div>
            <div class="form-group col-md-3">
              <button type="submit" class="btn btn-success">
                Solicitar presupuesto →
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <h2>Presupuestos en curso</h2>

  <!-- Botones para ordenar -->
  <div class="mb-3">
    <button class="btn btn-primary me-2" (click)="sortByDate()">
      Ordenar por fecha
    </button>
    <button class="btn btn-primary me-2" (click)="sortByPrice()">
      Ordenar por precio
    </button>
    <button class="btn btn-primary" (click)="sortByName()">
      Ordenar alfabéticamente
    </button>
  </div>

  <!-- Listado de presupuestos -->
  <div *ngIf="budgets.length > 0">
    <div *ngFor="let budget of budgets; let i = index" class="card mb-3 border">
      <div class="card-body" >
        <div class="row align-items-start"> 
          <div class="col">
            <h5 class="card-title2">{{ budget.name }}</h5>
            <p class="email" *ngIf="budget?.email">Email: {{ budget.email }}</p>
            <p class="phone" *ngIf="budget?.phone">Teléfono: {{ budget.phone }}</p>
          </div>
          <div class="col">
            <p>Servicios contratados:</p>
            <ul>
              <li *ngIf="budget.seo">SEO</li>
              <li *ngIf="budget.ads">ADS</li>
              <li *ngIf="budget.web">
                Web ({{ budget.pagines }} páginas,
                {{ budget.llenguatges }} lenguajes)
              </li>
            </ul>
          </div>
          <div class="col">
  
            <p><strong>Total:

            </strong> {{ budget.total }} €</p>
            <!--
            <p><strong>Fecha:</strong> {{ budget.date | date }}</p>
            -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
